.my-label {
  color: #009dff;
}

.my-title {
  color: #009dff;
}

.my-span {
  color: #009dff;
}

.my-title-border {
  border: 1px solid #009dff;
}

.my-nav-link {
  text-decoration: none;
  border: 1px solid #009dff;
  color: green;
}

.my-active {
  color: red;
}

.numbered {
  background-color: #009dff;
  min-width: 27px;
  height: 27px;
  text-align: center;
  border-radius: 50%;
}

.max-width {
  max-width: 120px;
}

.embedded-wordwall {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embedded-wordwall iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
