.bi-person-circle {
  font-size: 2rem;
  cursor: pointer;
}

.bi-journal {
  font-size: 2rem;
  color: #009dff;
}

.bi-person-circle:hover {
  color: #009dff;
}

.main-logo {
  color: #242424;
  transition: color 0.2s;
}

.main-logo:hover {
  color: #009dff;
}

.footer-logo {
  color: white;
}
